@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
	:root {
		--background: 0 0% 97.69%;
		--foreground: 334 55% 1%;
		--muted: 0 0% 93.85%;
		--muted-foreground: 206.04 0% 50.77%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 10.2%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 13.73%;
		--border: 0 0% 80.78%;
		--input: 0 0% 80.78%;
		--primary: 211.29 100% 50%;
		--primary-foreground: 0 0% 100%;
		--secondary: 0 0% 85.49%;
		--secondary-foreground: 334 0% 10%;
		--accent: 211.29 100% 50%;
		--accent-foreground: 334 0% 100%;
		--destructive: 3.19 100% 59.41%;
		--destructive-foreground: 18 0% 100%;
		--ring: 0 0% 60%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 217.5 9.09% 17.25%;
		--foreground: 334 34% 98%;
		--muted: 210 9.09% 12.94%;
		--muted-foreground: 334 0% 60.77%;
		--popover: 210 9.09% 12.94%;
		--popover-foreground: 334 34% 98%;
		--card: 210 9.09% 12.94%;
		--card-foreground: 334 34% 98%;
		--border: 334 0% 18.46%;
		--input: 214.29 5.04% 27.25%;
		--primary: 226.73 58.43% 65.1%;
		--primary-foreground: 0 0% 100%;
		--secondary: 214.29 5.04% 27.25%;
		--secondary-foreground: 334 0% 100%;
		--accent: 217.5 9.09% 17.25%;
		--accent-foreground: 226.73 58.43% 65.1%;
		--destructive: 358.16 68.78% 53.53%;
		--destructive-foreground: 0 0% 100%;
		--ring: 217.5 9.09% 17.25%;
	}
} */

/* @layer base {
	:root {
		--background: 263 68% 98%;
		--foreground: 263 78% 0%;
		--muted: 233 6% 90%;
		--muted-foreground: 233 11% 38%;
		--popover: 263 68% 98%;
		--popover-foreground: 263 78% 0%;
		--card: 263 68% 98%;
		--card-foreground: 263 78% 0%;
		--border: 263 4% 88%;
		--input: 263 4% 88%;
		--primary: 263 37% 53%;
		--primary-foreground: 0 0% 100%;
		--secondary: 233 37% 53%;
		--secondary-foreground: 0 0% 100%;
		--accent: 293 37% 53%;
		--accent-foreground: 0 0% 100%;
		--destructive: 22 100% 35%;
		--destructive-foreground: 0 0% 100%;
		--ring: 263 37% 53%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 263 41% 1%;
		--foreground: 263 18% 98%;
		--muted: 233 6% 10%;
		--muted-foreground: 233 11% 62%;
		--popover: 263 41% 1%;
		--popover-foreground: 263 18% 98%;
		--card: 263 41% 1%;
		--card-foreground: 263 18% 98%;
		--border: 263 4% 14%;
		--input: 263 4% 14%;
		--primary: 263 37% 53%;
		--primary-foreground: 0 0% 100%;
		--secondary: 233 37% 53%;
		--secondary-foreground: 0 0% 100%;
		--accent: 293 37% 53%;
		--accent-foreground: 0 0% 100%;
		--destructive: 22 100% 46%;
		--destructive-foreground: 0 0% 100%;
		--ring: 263 37% 53%;
	}
} */

@layer base {
	:root {
		--background: 216 47% 10%;
		--foreground: 225 6% 86%;
		--muted: 216 12% 15%;
		--muted-foreground: 216 12% 65%;
		--popover: 216 47% 7%;
		--popover-foreground: 225 6% 96%;
		--card: 216 47% 8%;
		--card-foreground: 225 6% 91%;
		--border: 216 37% 15%;
		--input: 216 37% 18%;
		--primary: 282 48% 71%;
		--primary-foreground: 282 48% 11%;
		--secondary: 282 30% 25%;
		--secondary-foreground: 282 30% 85%;
		--accent: 216 47% 25%;
		--accent-foreground: 216 47% 85%;
		--destructive: 2 81% 49%;
		--destructive-foreground: 0 0% 100%;
		--ring: 282 48% 71%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 216 47% 10%;
		--foreground: 225 6% 86%;
		--muted: 216 12% 15%;
		--muted-foreground: 216 12% 65%;
		--popover: 216 47% 7%;
		--popover-foreground: 225 6% 96%;
		--card: 216 47% 8%;
		--card-foreground: 225 6% 91%;
		--border: 216 37% 15%;
		--input: 216 37% 18%;
		--primary: 282 48% 71%;
		--primary-foreground: 282 48% 11%;
		--secondary: 282 30% 25%;
		--secondary-foreground: 282 30% 85%;
		--accent: 216 47% 25%;
		--accent-foreground: 216 47% 85%;
		--destructive: 2 81% 49%;
		--destructive-foreground: 0 0% 100%;
		--ring: 282 48% 71%;
	}
}

/* @layer base {
	:root {
		--background: 228 20% 20%;
		--foreground: 230 34% 83%;
		--muted: 228 12% 24%;
		--muted-foreground: 228 12% 74%;
		--popover: 228 20% 17%;
		--popover-foreground: 230 34% 93%;
		--card: 228 20% 18%;
		--card-foreground: 230 34% 88%;
		--border: 228 10% 25%;
		--input: 228 10% 28%;
		--primary: 85 66% 48%;
		--primary-foreground: 85 66% 8%;
		--secondary: 85 30% 25%;
		--secondary-foreground: 85 30% 85%;
		--accent: 228 20% 35%;
		--accent-foreground: 228 20% 95%;
		--destructive: 9 87% 56%;
		--destructive-foreground: 0 0% 100%;
		--ring: 85 66% 48%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 228 20% 20%;
		--foreground: 230 34% 83%;
		--muted: 228 12% 24%;
		--muted-foreground: 228 12% 74%;
		--popover: 228 20% 17%;
		--popover-foreground: 230 34% 93%;
		--card: 228 20% 18%;
		--card-foreground: 230 34% 88%;
		--border: 228 10% 25%;
		--input: 228 10% 28%;
		--primary: 85 66% 48%;
		--primary-foreground: 85 66% 8%;
		--secondary: 85 30% 25%;
		--secondary-foreground: 85 30% 85%;
		--accent: 228 20% 35%;
		--accent-foreground: 228 20% 95%;
		--destructive: 9 87% 56%;
		--destructive-foreground: 0 0% 100%;
		--ring: 85 66% 48%;
	}
} */

/* @layer base {
	:root {
		--background: 229 20% 20%;
		--foreground: 218 21% 79%;
		--muted: 229 12% 24%;
		--muted-foreground: 229 12% 74%;
		--popover: 229 20% 17%;
		--popover-foreground: 218 21% 89%;
		--card: 229 20% 18%;
		--card-foreground: 218 21% 84%;
		--border: 229 10% 25%;
		--input: 229 10% 28%;
		--primary: 180 100% 97%;
		--primary-foreground: 180 100% 17%;
		--secondary: 180 30% 25%;
		--secondary-foreground: 180 30% 85%;
		--accent: 229 20% 35%;
		--accent-foreground: 229 20% 95%;
		--destructive: 2 96% 46%;
		--destructive-foreground: 0 0% 100%;
		--ring: 180 100% 97%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 229 20% 20%;
		--foreground: 218 21% 79%;
		--muted: 229 12% 24%;
		--muted-foreground: 229 12% 74%;
		--popover: 229 20% 17%;
		--popover-foreground: 218 21% 89%;
		--card: 229 20% 18%;
		--card-foreground: 218 21% 84%;
		--border: 229 10% 25%;
		--input: 229 10% 28%;
		--primary: 180 100% 97%;
		--primary-foreground: 180 100% 17%;
		--secondary: 180 30% 25%;
		--secondary-foreground: 180 30% 85%;
		--accent: 229 20% 35%;
		--accent-foreground: 229 20% 95%;
		--destructive: 2 96% 46%;
		--destructive-foreground: 0 0% 100%;
		--ring: 180 100% 97%;
	}
} */

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply text-foreground bg-background;
	}
}
