@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 223 63% 100%;
		--foreground: 223 78% 1%;
		--muted: 223 9% 93%;
		--muted-foreground: 223 13% 37%;
		--popover: 223 63% 100%;
		--popover-foreground: 223 78% 1%;
		--card: 0 0% 99%;
		--card-foreground: 0 0% 0%;
		--border: 223 2% 91%;
		--input: 223 2% 91%;
		--primary: 223 48% 45%;
		--primary-foreground: 0 0% 100%;
		--secondary: 223 2% 83%;
		--secondary-foreground: 223 2% 23%;
		--accent: 223 2% 83%;
		--accent-foreground: 223 2% 23%;
		--destructive: 8 87% 36%;
		--destructive-foreground: 8 87% 96%;
		--ring: 223 48% 45%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 223 32% 10%;
		--foreground: 223 18% 99%;
		--muted: 223 9% 7%;
		--muted-foreground: 223 13% 63%;
		--popover: 223 32% 1%;
		--popover-foreground: 223 18% 99%;
		--card: 223 32% 15%;
		--card-foreground: 0 0% 100%;
		--border: 223 2% 13%;
		--input: 223 2% 13%;
		--primary: 223 48% 45%;
		--primary-foreground: 0 0% 100%;
		--secondary: 223 1% 14%;
		--secondary-foreground: 223 1% 74%;
		--accent: 223 1% 14%;
		--accent-foreground: 223 1% 74%;
		--destructive: 8 87% 46%;
		--destructive-foreground: 0 0% 100%;
		--ring: 223 48% 45%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply text-foreground bg-background;
	}

	code {
		white-space: pre;
		overflow-x: auto;
		max-width: 100%;
	}
}
